@import 'handsontable/dist/handsontable.full.css';

.logo {
    cursor: pointer;
}

.page-container {
    margin-top: 4em;
    margin-left: 1em;
    margin-right: 1em;
}

.home-card {
    height: 10em;
}

.settings-card {
    height: 14em;
}

.htCore>thead>tr>th {
    line-height: 1.5rem;
    font-size: 0.820rem;
    font-family: Public Sans, sans-serif;
    font-weight: 200;
    display: table-cell;
    vertical-align: inherit;
    border-bottom: 1px solid rgb(241, 243, 244);
    text-align: left;
    /* padding: 16px; */
    color: rgb(33, 43, 54);
}

.handsontable th {
    background-color: rgb(243, 244, 245);
}

.handsontable .htDimmed {
    color: rgb(55, 55, 55);
}

.ellipsis-text {
    text-overflow: ellipsis;
}
